* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-header {
  padding-bottom: 85px;
  margin-left: 100px;
  display: flex;
  margin-top: 80px;
}

/* .mid-header {
  background-color: #f7f7f7;
  padding: 70px;
} */

.get-started {
  background-color: rgb(24, 118, 212);
  color: #fff;
  font-size: 15px;
  cursor: pointer;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 15px;
  padding-bottom: 15px;
  border: 2px solid transparent;
  border-radius: 4px;
  /* margin-left: 100px; */
  margin-top: 55px;
  margin-bottom: 30px;
  /* font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal; */

  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;

  /* width: auto; */
}

.get-started:hover {
  background-color: #fff;
  color: black;
  border: black;
  border-style: solid;
}

/* aside {
  background-color: #f7f7f7;
  border-top: 5px solid #f7f7f7;
} */

body {
  background-color: white;
}

.container {
  /* width: 700px; */
  /* margin-left: auto;
  margin-right: auto; */
  margin: 0 auto;
}

article {
  padding-top: 100px;
  padding-bottom: 200px;
  /* margin-bottom: 200px; */
}

h1,
h2,
h3,
h4,
p,
li {
  /* font-family: sans-serif; */
  width: 300px;
  line-height: 1.5;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

h1 {
  color: rgb(39, 39, 40);
  font-size: 26px;
  text-transform: none;
  margin-left: 10px;
  margin-top: 10px;
  /* font-family: "Roboto", sans-serif; */
  font-family: sans-serif;
}

h2 {
  color: rgb(67, 67, 67);
  font-size: 26px;
  text-transform: none;
  font-style: normal;
}

h3 {
  color: rgb(67, 67, 67);
  font-size: 26px;
  text-transform: none;
  font-style: normal;
}

h4 {
  color: rgb(39, 39, 40);
  font-size: 20px;
  text-transform: none;
  font-style: normal;
}

p {
  /* color: rgb(67, 67, 67); */
  color: #282626;
  font-size: 18px;
  line-height: 1.5;
  /* font-weight: lighter; */
}

.h1-midtag {
  font-size: 40px;
  width: 500px;
  margin-left: 100px;
  margin-right: 200px;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
  margin-top: 100px;
  margin-bottom: 200px;
}

.p1-tag {
  margin-top: 30px;
  font-size: 22px;
  width: 500px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
  /* margin-left: 100px; */
  /* text-align: left; */
}

li {
  color: rgb(67, 67, 67);
  font-size: 20px;
  /* font-weight: lighter; */
}

article li {
  margin-bottom: 20px;
}

footer p {
  font-size: 16px;
  margin: 0;
}

footer {
  margin-top: 200px;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0px;
  background-color: #000;
  padding: 80px 20px;
  margin-top: auto;
  position: relative;
  bottom: 0;
  width: 100%;
  color: #d4d1d1;
}

#copyright {
  font-size: 12px;
  color: #d4d1d1;
}

.related-description {
  font-size: 18px;
  /* font-weight: lighter; */
}

ul {
  margin-left: 100px;
  list-style: none;
}

.ul-1 {
  /* margin-bottom: 20px; */
  margin-left: 200px;
  margin-bottom: 20px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
  color: rgb(31, 31, 31);
}

.ul1-keyList {
  margin-left: 200px;
}

.ul-2 {
  margin-left: 200px;
  margin-bottom: 20px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
  color: rgb(31, 31, 31);
}

.ul2-keyList {
  margin-left: 200px;
}

.ul-3 {
  margin-left: 200px;
  margin-bottom: 20px;
  width: 500px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
  color: rgb(31, 31, 31);
}

.ul3-keyList {
  margin-left: 200px;
}

.related-bullets {
  list-style: none;
}

.h1-midpage {
  margin-left: 100px;
}

/* article header {
  background-color: #f7f7f7;
  /* background-color: #f76d6d; */

nav {
  /* margin-right: 50px; */
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 22px;
}

a:link {
  color: rgb(27, 28, 28);
  text-decoration: none;
  /* font-weight: lighter; */
  /* font-family: sans-serif; */
  font-family: "Roboto", sans-serif;
}

a:visited {
  color: rgb(27, 28, 28);
}

a:hover {
  text-decoration: underline;
}

a:active {
  background-color: white;
}

nav a:link:first-child {
  margin-left: 0;
}

nav a:link {
  margin: 20px;
  /* display: block; */
  display: inline-block;
}

/* button {
  font-size: 22px;
  position: relative;
  bottom: 50px;
  right: 50px;
  /* top: 0;
  bottom: 0; */

/* FLOATS */

/* .key-details1 {
  float: left;
  margin-left: 30px;
}

.key-details2 {
  float: left;
  margin-left: 30px;
}

.key-details3 {
  float: left;
  margin-left: 30px;
}
.mid-image {
  width: 500px;
  height: auto;
  float: right;
  /* box-sizing: border-box;
  padding-left: 40px; */
/* display: flex; */
/* text-align: right; */

/* FLEX */
.firstflex {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #f7f7f7;
}
.mid-image {
  flex: 0 1 auto;
  /* width: auto; */
  /* margin-left: 500px; */
  margin-top: 100px;
  margin-bottom: 100px;
}

.mid-header img {
  /* max-width: 100%; */
  width: 700px;
  height: auto;
  object-fit: contain;
  margin-bottom: 80px;
}

.secondflex {
  display: flex;
  justify-content: center;
  align-items: center;
  /* width: 100%; */
  /* background-color: #f7f7f7; */
}

/* aside {
  background-color: #f7f7f7;
  border-top: 5px solid #f7f7f7;
} */
/* 
.grid-container {
  display: grid;
  grid-template-columns: 1fr 300px;
  grid-column: 1 / -1;
} */

.grid-container {
  display: grid;
  grid-template-columns: repeat(
    2,
    1fr
  ); /* Adjust number of columns as needed */
  grid-gap: 20px; /* Space between grid items */
  padding: 20px;
  max-width: 1200px; /* Adjust based on your layout's maximum width */
  margin: 0 auto; /* Center the grid horizontally */
  margin-bottom: 130px;
}

.feature-item {
  /* background-color: #f7f7f7; */
  background-color: #fbfbfb;
  border: 1px solid #e0e0e0; /* You can adjust the border color as needed */
  padding: 16px;
  text-align: center; /* Center the text and image */
  justify-content: center;
  align-items: center;
}

.feature-item img {
  width: 75px;
  height: 75px;
  margin-bottom: 10px; /* Spacing between image and heading */
  /* text-align: left; */
}

.feature-item h4 {
  margin: 10px 0; /* Spacing around the heading */
}

.feature-item p {
  color: #555; /* Adjust the text color as needed */
  font-size: 0.875em; /* Adjust the font size as needed */
}

.h4-container {
  margin-left: 100px;
  text-align: left;
}

.p-container {
  margin-left: 100px;
  text-align: left;
}

.centerpic-1 {
  text-align: center;
}

.grid-images {
  margin-left: 100px;
  text-align: left;
  /* width: 100%; */
}

.features-styling {
  text-align: center;
  background-color: #fff;
  margin: 0 auto;
  width: 100%;
}

aside {
  width: 100%;
  display: block;
}

.footer-styling {
  text-align: center;
  margin: 0 auto;
  width: 100%;
  color: #fff;
}

.footer-Pstyle {
  text-align: center;
  margin: 0 auto;
  width: 100%;
  color: #d4d1d1;
  margin-bottom: 100px;
  margin-top: 20px;
}
