* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-header {
  padding-bottom: 85px;
  margin-left: 100px;
  display: flex;
  margin-top: 80px;
  /* padding-left: 20px;
  padding-right: 40px;
  padding: 20px 40 px; */
}

.mid-header {
  background-color: #f7f7f7;
  padding: 70px;
}

.mid-image {
  width: 500px;
  height: auto;
  float: right;
  /* box-sizing: border-box;
  padding-left: 40px; */
  /* display: flex; */
  /* text-align: right; */
}

.get-started {
  background-color: rgb(33, 135, 238);
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  padding: 20px;
  border: rgb(33, 135, 238);
  border-radius: 4px;
  margin-left: 100px;
  margin-top: 55px;

  /* width: auto; */
}

.get-started:hover {
  background-color: #fff;
  color: black;
  border: black;
  border-style: solid;
}

aside {
  background-color: #f7f7f7;
  border-top: 5px solid #f7f7f7;
}

body {
  background-color: white;
}

.container {
  /* width: 700px; */
  /* margin-left: auto;
  margin-right: auto; */
  margin: 0 auto;
}

article {
  padding-top: 200px;
  padding-bottom: 200px;
  margin-bottom: 200px;
}

.key-details1 {
  float: left;
  margin-left: 30px;
}

.key-details2 {
  float: left;
  margin-left: 30px;
}

.key-details3 {
  float: left;
  margin-left: 30px;
}

h1,
h2,
h3,
h4,
p,
li {
  font-family: sans-serif;
  width: 300px;
  line-height: 1.5;
}

h1 {
  color: rgb(39, 39, 40);
  font-size: 26px;
  text-transform: none;
  font-style: normal;
  margin-left: 10px;
  margin-top: 10px;
}

h2 {
  color: rgb(67, 67, 67);
  font-size: 26px;
  text-transform: none;
  font-style: normal;
}

h3 {
  color: rgb(67, 67, 67);
  font-size: 26px;
  text-transform: none;
  font-style: normal;
}

h4 {
  color: rgb(39, 39, 40);
  font-size: 20px;
  text-transform: none;
  font-style: normal;
}

p {
  color: rgb(67, 67, 67);
  font-size: 18px;
  line-height: 1.5;
  font-weight: lighter;
}

.h1-midtag {
  font-size: 40px;
  width: 500px;
  margin-left: 100px;
}

.p1-tag {
  margin-top: 30px;
  font-size: 22px;
  width: 500px;
  margin-left: 100px;
  /* text-align: left; */
}

li {
  color: rgb(67, 67, 67);
  font-size: 20px;
  font-weight: lighter;
}

article li {
  margin-bottom: 20px;
}

/* footer p {
  font-size: 16px;
} */

footer {
  margin-top: 200px;
  margin-left: 20px;
  margin-bottom: 40px;
}

#copyright {
  font-size: 16px;
}

.related-description {
  font-size: 18px;
  font-weight: lighter;
}

ul {
  margin-left: 100px;
  list-style: none;
}

.ul-1 {
  /* margin-bottom: 20px; */
  margin-left: 200px;
  margin-bottom: 20px;
}

.ul1-keyList {
  margin-left: 200px;
}

.ul-2 {
  margin-left: 200px;
  margin-bottom: 20px;
}

.ul2-keyList {
  margin-left: 200px;
}

.ul-3 {
  margin-left: 200px;
  margin-bottom: 20px;
  width: 500px;
}

.ul3-keyList {
  margin-left: 200px;
}

.related-bullets {
  list-style: none;
}

.h1-midpage {
  margin-left: 100px;
}

/* article header {
  background-color: #f7f7f7;
  /* background-color: #f76d6d; */

/* nav {
  margin-right: 50px;
} */

a:link {
  color: rgb(27, 28, 28);
  text-decoration: none;
  font-weight: lighter;
  font-family: sans-serif;
}

a:visited {
  color: rgb(27, 28, 28);
}

a:hover {
  text-decoration: underline;
}

a:active {
  background-color: white;
}

nav a:link:first-child {
  margin-left: 0;
}

nav a:link {
  /* background-color: red; */
  margin: 20px;
  /* display: block; */
  display: inline-block;
}

/* button {
  font-size: 22px;
  position: relative;
  bottom: 50px;
  right: 50px;
  /* top: 0;
  bottom: 0; */

/* article {
  background-color: green;
}

aside {
  background-color: red;
}

footer {
  background-color: blue;
} */
